window {
    background-color: peachpuff;
}

paned > separator {
  background: transparent;
  min-width: 0px;
  min-height: 0px;
}
.glow-effect {
  border: 3px #00CED1;
  box-shadow: 0 0 20px #00CED1;
  border-radius: 10px;
}


/* Hide GtkPaned divider lines and handles completely */
GtkPaned,
.pane-separator,
.separator,
handle {
  background: none;
  border: none;
  box-shadow: none;
  min-width: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}

/* Optional: make background pure black for kiosk display */
window, GtkWindow {
  background-color: peachpuff;
}

#ticker_fixed {
    overflow: hidden;
}

#ticker_label {
    min-width: 0;
}
